# Environment variables
*.env
.env.*
!/.env.template

# Docker
docker-compose.private.yml

# Virtual Environment
venv/
__pycache__/

# Downloads
downloads/

# IDE / Editor specific
.vscode/
.idea/

# Session files
.qobuz_session
